.markdown {
  margin: 30px 0px;
}

.about {
  margin: 0px 240px 0px;
}

.markdown a {
  text-decoration: underline;
}

.markdown a:hover {
  background: linear-gradient(
    90deg,
    #b16cea 14.06%,
    #ff5e69 44.79%,
    #ff8a56 71.87%,
    #ffa84b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 1024px) {
  .about {
    margin: 0px 100px 0px;
  }
}

@media (max-width: 768px) {
  .about {
    margin: 0px 80px 0px;
  }
}

@media (max-width: 480px) {
  .about {
    margin: 0px 40px 0px;
  }
}
