.photo-name {
  margin: 32px 0px 16px 0px;
  gap: 32px;
}

.bio-photo {
  border-radius: 50%;
  height: 120px;
}

.icon-bio-container {
  background-color: #f0f2f5;
  border-radius: 50%;
}

.icon-bio {
  margin: 5px;
  font-size: 20px;
}

.icon-bio-container:hover {
  background-color: #838384;
}

@media (max-width: 768px) {
  .photo-name {
    gap: 18px;
  }

  .bio-photo {
    height: 100px;
  }

  .icon-bio {
    margin: 5px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .photo-name {
    gap: 18px;
  }
}

@media (max-width: 280px) {
  .bio-photo {
    height: 70px;
  }
}
