.project-card-container {
  display: flex;
  width: 300px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  cursor: pointer;

  border-radius: 16px;
  border: 1px solid var(--border-default);
  background: var(--background-1);
}

.project-card-container .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.project-card-container .cover {
  display: flex;
  width: 100%;
  padding-top: 56%;

  border-radius: 12px;
  background: var(--background-info);
}

.project-card-container:hover {
  border: 1px solid var(--border-hover);
  background: var(--background-3);
}

.details-wrapper {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .project-card-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: auto;
    align-self: stretch;
    gap: 12px;
    align-items: center;
  }

  .project-card-container .cover {
    order: 2;
    border-radius: 6px;
  }
}
