button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 40px;
  gap: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 164% */

  text-align: center;
  letter-spacing: -0.035em;

  /* Black Primary */

  color: #161513;

  /* White Primary */

  background: #f0f2f5;
  border-radius: 92px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

@media (max-width: 768px) {
  button {
    font-size: 14px;
    padding: 14px 30px;
  }
}

@media (max-width: 480px) {
  button {
    font-size: 12px;
    padding: 12px 25px;
  }
}