body {
  margin: 0 0 0 0;
  background-color: var(--background-1);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  padding: 72px 0px;
  gap: 96px;
}

@media (max-width: 1240px) {
  .page {
    padding: 72px 24px;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 56px 16px;
    gap: 42px;
  }
}
