body {
  margin: 0 0 0 0;
  background-color: var(--white-900);
}

.text-gradient-2-animation {
  background: linear-gradient(
    var(--gradient-angle),
    var(--primary-500),
    var(--primary-100)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotation 5s linear infinite;
}
