body {
  margin: 0 0 0 0;
  background-color: var(--background-1);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  gap: 96px;
}

@media (max-width: 1240px) {
  .page {
    padding: 0px 24px;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 0px 16px;
    gap: 42px;
  }
}

.text-gradient-2-animation {
  background: linear-gradient(
    var(--gradient-angle),
    var(--primary-500),
    var(--primary-100)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotation 5s linear infinite;
}
