.project-highlights-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.works-highlights-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-10);
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
