.button-large {
  display: flex;
  padding: 18px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 56px;
}

.button-medium {
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 56px;
}

.button-primary {
  border: 1px solid var(--border-active);
  background: var(--primary-default);
}

.button-primary .label-large {
  color: var(--typography-light);
}

.button-primary:hover {
  cursor: pointer;
  border: 1px solid var(--primary-hover);
  background: var(--primary-hover);
  color: var(--typography-light);
}

.button-tertiary {
  border: 1px solid var(--border-default);
  background: var(--background-1);
  color: var(--typography-primary);
}

.button-tertiary:hover {
  cursor: pointer;
  border: 1px solid var(--border-hover);
  background: var(--background-3);
  color: var(--typography-primary);
}

@media (max-width: 560px) {
  .button-large {
    padding: 14px 24px;
    gap: 10px;

    border-radius: 56px;
  }

  .button-medium {
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 56px;
  }
}
