.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 130%;

  border-radius: 27px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-hidden {
  display: none;
}

.carousel-arrow-left {
  position: absolute;
  left: 16px;
}

.carousel-arrow-right {
  position: absolute;
  right: 16px;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 16px;
}

.indicator {
  background-color: var(--primary-default);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: var(--background-1);
}

@media (max-width: 560px) {
  .carousel {
    align-self: stretch;
  }
}
