.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 48px;
}

.featured-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-10);
}

.featured .image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;
  align-self: center;
}

.featured.image-container.image {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .featured-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-10);
  }
}
