.button-circle-medium {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 56px;
  border: 1px solid var(--border-default);
  background-color: var(--background-1);
  cursor: pointer;
}

.button-circle-small {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 56px;
  border: 1px solid var(--border-default);
  background-color: var(--background-1);
  cursor: pointer;
}

.button-circle-xsmall {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 56px;
  border: 1px solid var(--border-default);
  background-color: var(--background-1);
  cursor: pointer;
}

.button-circle:hover {
  border: 1px solid var(--border-hover);
  background-color: var(--background-3);
}
